<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <section id="content" class="current">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h2>Taking Action, Making a Difference.</h2>
          <h2 class="logo">Help<span
            class="highlight">Now</span></h2>
          <p>
            This website is dedicated to providing immigrants in Poland with the resources and support they need to succeed. 
            Our mission is to ensure that immigrants in Poland have access to the information, resources, and services they 
            need to build strong, prosperous lives in their new home. We provide comprehensive information about the 
            immigration process, connecting immigrants to legal and social services, and advocating for their rights.
          </p>
        </div>
      </div>
      <section class="iq-features">
        <div class="container">
           <div class="row align-items-center">
              <div class="col-lg-3 col-md-12"></div>
              <div class="col-lg-6 col-md-12">
                 <div class="holderCircle">
                    <div class="round"></div>
                    <div class="dotCircle">
                       <span class="itemDot active itemDot1" data-tab="1">
                        <i class="fa fa-sack-dollar"></i>
                       <span class="forActive"></span>
                       </span>
                       <span class="itemDot itemDot2" data-tab="2">
                       <i class="fa fa-bullhorn"></i>
                       <span class="forActive"></span>
                       </span>
                       <span class="itemDot itemDot3" data-tab="3">
                       <i class="fa-solid fa-people-group"></i>
                       <span class="forActive"></span>
                       </span>
                       <span class="itemDot itemDot4" data-tab="4">
                       <i class="fa-solid fa-handshake"></i>
                       <span class="forActive"></span>
                       </span>
                       <span class="itemDot itemDot5" data-tab="5">
                       <i class="fa fa-envelope-open"></i>
                       <span class="forActive"></span>
                       </span>
                       <span class="itemDot itemDot6" data-tab="6">
                       <i class="fa-sharp fa-solid fa-hand-holding-heart"></i>
                       <span class="forActive"></span>
                       </span>
                    </div>
                    <div class="contentCircle">
                       <div class="CirItem active title-box CirItem1">
                          <h2 class="title"><a routerLink="/fundraises">Contribute</a></h2>
                          <p>Discover currently cunducted fundraisers and donate to a worthy cause. Thank you in advance!</p>
                          <i class="fa fa-sack-dollar"></i>
                       </div>
                       <div class="CirItem title-box CirItem2">
                          <h2 class="title"><a routerLink="/announcements">Stay updated</a></h2>
                          <p>Make sure to stay informed by regularly checking for the latest announcements.</p>
                          <i class="fa fa-bullhorn"></i>
                       </div>
                       <div class="CirItem title-box CirItem3">
                          <h2 class="title"><a routerLink="/employees">Our team</a></h2>
                          <p>Our team is made up of highly skilled and dedicated individuals who consistently deliver outstanding results.</p>
                          <i class="fa-solid fa-people-group"></i>
                       </div>
                       <div class="CirItem title-box CirItem4">
                          <h2 class="title"><a routerLink="/organizations">Partners</a></h2>
                          <p>Our partners are an essential part of our success, and we are grateful for their continued support and collaboration.</p>
                          <i class="fa-solid fa-handshake"></i>
                       </div>
                       <div class="CirItem title-box CirItem5">
                          <h2 class="title"><a routerLink="/contact">Contact</a></h2>
                          <p>If you have any questions or would like to get some additional information, please don't hesitate to contact us.</p>
                          <i class="fa fa-envelope-open"></i>
                       </div>
                       <div class="CirItem title-box CirItem6">
                          <h2 class="title"><span>Thank you</span></h2>
                          <p>Thank you for helping us make world a better place. We are glad you are here!</p>
                          <i class="fa-sharp fa-solid fa-hand-holding-heart"></i>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-12"></div>
           </div>
        </div>
      </section>

      <div class="row features-container">
        <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-10">
          <div class="features-list">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa-regular fa-gem"></div>
                  <div class="name">
                    Reliability
                  </div>
                  <div class="text">
                    Our open and transparent communication with donors provides an additional layer of trust that inspires people to give generously.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 mb-5">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-info-circle"></div>
                  <div class="name">
                    Complex Help
                  </div>
                  <div class="text">Need a medical, legal or residential consultation? With the help of our experienced 
                  volunteers you will get all necessary information.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-lock"></div>
                  <div class="name">
                    Security & Privacy
                  </div>
                  <div class="text">We take data safety and privacy seriously. We use the highest levels of
                     encryption and security measures to ensure customer data is kept safe and secure.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa-solid fa-handshake-angle"></div>
                  <div class="name">
                    Trusted Partners
                  </div>
                  <div class="text">We are closely cooperating with major non-profit <a routerLink="/organizations">organizations</a> to ensure that raised funds
                     will go directly to those in need.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-earth-americas"></div>
                  <div class="name">
                    International aid
                  </div>
                  <div class="text">HelpNow is dedicated to providing equal access to resources for all 
                    individuals regardless of their nationality or race.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="feature-block bootdey" style="visibility: visible;">
                  <div class="ico fa fa-file-invoice"></div>
                  <div class="name">
                    Contact Form
                  </div>
                  <div class="text">Fill out our <a routerLink="/contact">website form</a> and one of our knowledgeable staff 
                    members will be in touch to discuss your needs. Don't wait - contact us today!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../../assets/js/homeAnimations.js"></script>