<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<body>
  <div id="main-container">
    <div id="contact" class="contact-area section-padding">
      <div class="container mt-4">
        <div class="row text-center text-white mb-5">
          <h1 class="display-4">We're here</h1>
          <p class="lead">Need to get in touch with us? Either fill out the form with your personal details or find our contact email below.</p>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="contact">
              <form class="form" name="enq" #submitForm="ngForm" (submit)="submitEmail(submitForm)">
                <div class="row">
                  <div class="form-group col-md-6">
                    <input ngModel type="text" name="recipientName" placeholder=" " class="form-control" required="required">
                    <label for="name">Name</label>
                  </div>
                  <div class="form-group col-md-6">
                    <input ngModel type="email" name="recipientEmailAddress" placeholder=" " class="form-control"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="required">
                    <label for="email">Email</label>
                  </div>
                  <div class="form-group col-md-12">
                    <input ngModel type="text" name="subject" placeholder=" " class="form-control" required="required">
                    <label for="subject">Subject</label>
                  </div>
                  <div class="form-group col-md-12">
                    <textarea ngModel rows="6" name="content" placeholder=" " class="form-control" required="required"></textarea>
                    <label for="name">Your Message</label>
                  </div>
                  <div class="col-md-12 text-center">
                    <button [disabled]="submitForm.invalid" type="submit" value="Send message" name="submit" id="submit-mail-form" class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single_address">
              <i class="fa fa-map-marker"></i>
              <h4>Our Address</h4>
              <p>Skosna 132, Katowice</p>
            </div>
            <div class="single_address">
              <i class="fa fa-envelope"></i>
              <h4>Send your message</h4>
              <p>contact@helpnow.com</p>
            </div>
            <div class="single_address">
              <i class="fa fa-phone"></i>
              <h4>Call us on</h4>
              <p>(+48) 532 439 812</p>
            </div>
            <div class="single_address">
              <i class="fa fa-clock-o"></i>
              <h4>Office Hours</h4>
              <p>Mon - Fri: 08:00 - 16:00 <br>Sat: 8:00 - 12:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="confirmationMessage" tabindex="-1" role="dialog" aria-labelledby="confirmationMessageLabel"
  style="margin-top: 15%;" aria-hidden="true">
  <div class="modal-dialog mt-5" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationMessageLabel">{{this.modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{this.modalMessage}}
      </div>
    </div>
  </div>
</div>

</body>