.container {
  width: 50%;
}

body {
  min-height: 66vh
}

.a-btn {
  color: #5D3FD3;
  border-color: #6d59bc;
}

a {
  color: #5D3FD3;
}

.a-btn:hover {
  color: aliceblue;
  background-color: #5D3FD3;
  border-color: #6d59bc;
}

.submit-btn {
  background-color: #5D3FD3;
  border-color: #6d59bc;
  transition: opacity 0.5s;
}

.submit-btn:hover {
  opacity: 0.9;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

.btn-primary:disabled  {
  transition: opacity 0.5s;
  opacity: 50%;
}